## Data Wrangling-Expression Data
---

### - Present notebook uses _pandas_ (version 1.1.1), to pre-process any Expression Data file
### - Generates input data for the ML-Classifiers
### - MetaData file used in this notebook can be downloaded form [GREIN](http://www.ilincs.org/apps/grein/session/3ac4c6e5dd644337909800e52c1ba8f1/download/downloadmeta?w=)
### - ExpressionData file used in this notebook can be downloaded form [GEO](https://ftp.ncbi.nlm.nih.gov/geo/series/GSE103nnn/GSE103147/suppl/GSE103147_Tcells-EA-rawCounts_GEO.txt.gz) 
### - Sample label file is a prerequisite, that can be made by processing the MetaData file using "MetaData-Wrangling.ipynb"
### - Download "customFunctions.py" before proceeding in the same directory

#### Step 1: Load libraries

In [15]:
# Pandas for Dataframe processing
import pandas as pd

# Libraray for user-defined functions
import customFunctions as cf

# This will print entire output of the cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Step 2: Load the raw counts, metadata and sample information
- MetaData file used in this notebook can be downloaded form [GREIN](http://www.ilincs.org/apps/grein/session/3ac4c6e5dd644337909800e52c1ba8f1/download/downloadmeta?w=)
- Expression data can be downloaded form [GEO](https://ftp.ncbi.nlm.nih.gov/geo/series/GSE103nnn/GSE103147/suppl/GSE103147_Tcells-EA-rawCounts_GEO.txt.gz)
- Unzip the file using ```unzip()``` from ```customFunctions```
- Sample labels can be created using "MetaData-Wrangling.ipynb"

In [16]:
# Unzip the downloaded file
cf.unzip('GSE103147_Tcells-EA-rawCounts_GEO.txt.gz')

# Load the unziped tsv file 
exp_df = pd.read_csv("GSE103147_rawCounts.tsv", sep = "\t")
exp_df.head(2)

# Load the metadata file
meta = pd.read_csv("GSE103147_full_metadata.csv", index_col = 0)
meta.head(2)

# Load the sample labels
sample_labels = pd.read_csv("Sample_Labels.csv")
sample_labels.head(2)

,symbol,100_04_0779_DAY_0_T_Ag85_100_L8.LB23,10_01_0524_DAY_0_T_Ag85_10_L5.LB3,102_04_0843_DAY_0_T_Ag85_102_L1.LB1,11_01_0940_DAY_0_T_Ag85_11_L6.LB8,115_07_0361_DAY_0_T_Ag85_115_L1.LB3,116_07_0369_DAY_0_T_Ag85_116_L1.LB5,119_03_0545_DAY_0_T_Ag85_119_L1.LB1,120_03_0697_DAY_0_T_Ag85_120_L1.LB4,12_09_0226_DAY_0_T_Ag85_12_L7.LB14,...,902_07-0425_DAY_0_T-unst_902_L7.LB13,903_09_0278_Day_I_C_T-unst_903_L2.LB10,904_09_0507_Day_I_C_T-unst_904_L6.LB20,905_09_0624_Day_I_C_T-unst_905_L5.LB13,906_09_0644_Day_I_C_T-unst_906_L5.LB14,91_07_0259_DAY_0_T_unst_91_L8.LB22,919_09_0789_Day_I_C_T-unst_919_L6.LB20,920_01_0757_Day_I_C_T-unst_920_L3.LB13,922_01_0673_Day_I_C_T-unst_922_L6.LB23,923_04_1104_Day_0_T-unst_923_L4.LB11
ENSG00000000003,TSPAN6,32,5,74,48,0,43,54,22,51,...,32,46,50,82,43,52,21,28,58,113
ENSG00000000419,DPM1,1212,173,1009,727,20,657,692,342,768,...,1023,740,1279,1075,422,840,347,514,574,914

,geo_accession,title,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,BioSample,SampleType,TaxID,ScientificName,Tumor,CenterName,Submission,Consent,RunHash,ReadHash
GSM2754496,GSM2754496,100_04_0779_DAY_0_T_Ag85_100_L8.LB23,Public on Oct 17 2017,Aug 27 2017,Oct 17 2017,SRA,1,T cells,Homo sapiens,cell type: Tcells,...,SAMN07564511,simple,9606,Homo sapiens,no,GEO,SRA603022,public,55B430EF91FD45723A75A0F83E487566,A1E7835851FA48F2F69C0DBF1E4E0640
GSM2754497,GSM2754497,10_01_0524_DAY_0_T_Ag85_10_L5.LB3,Public on Oct 17 2017,Aug 27 2017,Oct 17 2017,SRA,1,T cells,Homo sapiens,cell type: Tcells,...,SAMN07564510,simple,9606,Homo sapiens,no,GEO,SRA603022,public,257060EE2586F338A7CAB3C4A58E60C1,C7709CC05F9DBEC2193E2A415FF99469

          Run  Labels
0  SRR5980959       0
1  SRR5980960       0

#### Step 3: Merging SRR accesion with title
1. Merge on the column "Run"
2. Subset by column "Run", "Labels" and "title"

In [17]:
runTitle = pd.merge(sample_labels, meta, on = "Run")[["Run", "Labels", "title"]]
runTitle.head(1)

          Run  Labels                                 title
0  SRR5980959       0  109_07-0361_DAY_0_T-unst_109_L1.LB10

#### Step 4: Data Transformation
1. Transpose the dataFrame using ```df.T```
2. __Remove the first row__, using ```df.iloc[1:0]```
3. Reset the index, using ```df.reset_index()```
4. Rename the column, using ```df.rename(columns = {"index": ""})```

In [18]:
exp_dfT = exp_df.T.iloc[1:].reset_index().rename(columns = {"index": "title"})
exp_dfT.head(2)

,title,ENSG00000000003,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000000938,ENSG00000000971,ENSG00000001036,ENSG00000001084,ENSG00000001167,...,ENSG00000263563,ENSG00000263731,ENSG00000264278,ENSG00000265118,ENSG00000265681,ENSG00000265817,ENSG00000266086,ENSG00000266173,ENSG00000266208,ENSG00000266714
0,100_04_0779_DAY_0_T_Ag85_100_L8.LB23,32,1212,631,52,115,81,234,1373,2049,...,65,14,8,6,175,7,5,618,11,0
1,10_01_0524_DAY_0_T_Ag85_10_L5.LB3,5,173,98,16,9,17,41,286,337,...,14,12,1,1,32,2,1,121,1,0

#### Step 5: Merging
1. Merge via identical title
2. Drop unwanted columns

In [19]:
# Merge on title
exp = pd.merge(exp_dfT, runTitle, on = "title")

# Delete the unwanted columns
exp.drop(['title', 'Run'], axis = 1, inplace = True)

#### Step 6: Transpose
1. Transpose
2. Flip the df
3. Replace the header by first row

In [20]:
# Transposing
ex = exp.T

# Reverse the DataFrame
ex = ex[::-1]

# Replacing the header with row 1 (Labels)
ex = ex.rename(columns = ex.iloc[0]).drop(ex.index[0])

#### Step 7: Saving to Csv file

In [21]:
ex.to_csv("exp_set.csv", index = False)

---